* { margin: 0;
}

body {
    background-color: #d9dcd6;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #2a607c;
    align-items: center;
    padding: 10px 0px 15px 15px;
}

.seo {
    color: #adb0ad; 
    /* made hex value darker to be visible on page */
}

#top-menu li {
    display: inline;
    padding-left: 55px;
    padding-right: 55px;
}

#top-menu li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
}

.main-image {
    height: auto;
    max-width: 100%;
}

.services {
    background-color: #0072bb;
    margin: 15px 10px 40px 10px;
    padding: 45px;
    height: 200px;
}

/* need to clean up margins to have the same distance on all sides of all text boxes*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-left, .float-right {
    height: 200px;
    width: 275px;
    padding: 0 30px 30px 0;
}

.services h2 {
    font-size: xx-large;
    margin: 20px 20px 20px 0px;
}

.services p {
    margin-right: 100px;
}

.services #online-rep-p {
    margin-right: 500px;
}

.right-side {
    height: 100px;
    width: 100px;
}

.benefits {
    background-color: #2589bd;
    text-align: center;
    margin: 15px 10px 0px 10px;
}

footer {
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    color: black;
}

/* re-check all text colors, may not be white but closer to background */

/* When hyperlinks are clicked on top they stopped jumping to sections - check that!*/

/* 
DOUBLE CHECK THE ORDER CONVENTION FOR ALL SELECTORS (Required)

h3

.benefits

.benefit-lead

.benefit-brand

.benefit-cost

*/
