* { 
    margin: 0;
}

body {
    background-color: #d9dcd6; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
}

/* Main header and nav bar */
.container {
    display: flex;
    justify-content: space-between;
    background-color: #2a607c;
    align-items: center;
    padding: 10px 0px 15px 15px;
}

/* "seo" in the h1 header, adjusted for contrast when emulating vision deficiencies in dev tools */
#seo {
    color: #7d807d; 
}

/* Position nav links inline */
#top-menu li {
    display: inline;
    padding-left: 55px;
    padding-right: 55px;
}

/* Styling nav links */ 
#top-menu li a {
    color: white;
    text-decoration: none;
}

/* Styling main cover img */
#marketing-meeting-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

/* Main section of webpage */
main {
    display: flex;
}

/* Positioning for main section */
#main-section {
    flex: 3;
}

/* Styling main articles */
.services {
    background-color: #0072bb;
    margin: 20px 20px 0px 20px;
    padding: 45px;
    height: 250px;
}
/*
Styling images in main section */
.services img {
    margin-top: 25px;
    height: 200px;
    width: 275px;
}

/* Positioning images in main section */
.float-left {
    float: left;
    padding: 0 30px 30px 0;
}

/* Positioning images in main section */
.float-right  {
    float: right;
}

/* h2 styling */
h2 {
    margin-top: 25px;
    margin-bottom: 40px;
}

/* Styling text in the main section */
.services p {
    margin-right: 50px;
    line-height: 1.5em;
}

/* Positioning "online reputaiton" p to the right of img */
.services #online-rep-p {
    margin-right: 350px;
}


/* Styling sidebar menu */
aside {
    flex: 0.5;
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    background-color: #2589bd;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: -50px;
} 

/* Styling imgs for sidebar menu */
aside img {
    height: 150px;
    width: 150px;
    margin: 25px auto;
}

/* h3 styling */
h3 {
    margin-top: 30px;
}

aside p {
    text-align: left;
    line-height: 1.5em;
}

/* Styling footer to be visible on page and readable */
footer {
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: black;   
    margin-bottom: 15px;
    margin-top: 55px;
}

/* h4 styling */
h4 {
    font-size: x-large;
}

/* Changes the way navbar menu is displayed on devices with width < 1200px */
@media screen and (max-width: 1200px) {
    .container {
        display: block;
    }
    #top-menu li {
        display: block;
        text-align: center;
        font-weight: bold;
        padding: 20px;
    }

    .services {
        height: 300px;
        font-size: smaller;
    } 
  }

  /* Changes the way sidebar menu is displayed on devices with width < 1200px */
  @media screen and (max-width: 1020px) {
    aside {
        flex: 1;
        padding-left: 110px;
        padding-right: 110px;
        margin-bottom: 30px;
        margin-left: 20px;
    } 

    .services {
        height: 700px;
        font-size: smaller;
    } 
  } 
 /* Changes the way .services sections are displayed on devices with width < 900px */
  @media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .services {
        height: 500px;
        font-size: smaller;
    } 

    aside {
        width: 100%;
        padding-left: 110px;
        padding-right: 110px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    } 
  }

   /* Changes the way .services sections are displayed on devices with width < 680px */
    @media screen and (max-width: 680px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .services {
        height: 700px;
        font-size: smaller;
    } 

    aside {
        width: 100%;
        padding-left: 110px;
        padding-right: 110px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    } 
  }